
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    padding: 25px;
    text-align: center;
    background-color: #222;
    color: white;
}


.comparison {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

figure {
    margin: 0;
    width: 45%;
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #ccc;
}

figure img {
    width: 100%;
    border-radius: 8px;
}


.filtered {
    filter: brightness(0.5);
    transition: filter 0.5s ease;
}


.filtered:hover {
    filter: brightness(1);
}

figcaption {
    padding: 12px;
    font-weight: bold;
}

@media (max-width: 700px) {
    .comparison {
        flex-direction: column;
    }

    figure {
        width: 100%;
        max-width: 500px;
    }
}