* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.loader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    animation: move 0.8s infinite;
}

.circle2 {
    animation-delay: 0.2s;
}

.circle3 {
    animation-delay: 0.4s;
}

@keyframes move {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }
}