
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    padding: 25px;
    text-align: center;
    background-color: #222;
    color: white;
}


.principles {
    min-height: 75vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 40px;
    align-items: center;
}

.principle {
    min-height: 250px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 12px #ccc;

    transition: all 0.3s ease;
}


.principle:hover {
    background: linear-gradient(135deg, #444, #999);
    color: white;
    transform: translateY(-5px);
}

.principle h2 {
    margin-bottom: 20px;
}

.principle p {
    line-height: 1.6;
}

code {
    font-size: 14px;
}

footer {
    padding: 18px;
    text-align: center;
    background-color: #222;
    color: white;
}

@media (max-width: 600px) {
    .principles {
        grid-template-columns: 1fr;
    }
}